.xsymbol {

    background-image: url('x-symbol.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;


}


.osymbol {

    background-image: url('o-symbol.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    

}


#gameSpace {

    position: relative;
    margin: auto;
    width: 50%;
    z-index: 0;
}

#starterButtons {

    margin: auto;
    width: 50%;


}